nav{
	height: 100%;
	width: 100%;
	position: absolute;
	left: -100%;
	top: 0px;
	background-color: #334;
	z-index: 10;
}

#closeMenu{
	height: 60px;
	width: 60px;
	position: absolute;
	right: 40px;
	top: 30px;
	border-radius: 100%;
	cursor: pointer;
	background-color: rgba(10, 10, 10, 0.1); 
}

#closeMenu:hover{
	background-color: rgba(10, 10, 10, 0.3);
}