/*
*
*	Subitus
*	Made by Ananay Arora, Devansh Gandhi, Rohan Dhar
*	Exun Clan
*/

@mixin font-import($font, $src){
	@font-face{
		src:url($src);
		font-family:$font;
	}
}
@mixin all(){
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-ms-transition:all 0.5s;
	transition:all 0.5s;
}
@mixin some($effect){
	-webkit-transition:$effect 0.5s;
	-moz-transition:$effect 0.5s;
	-o-transition:$effect 0.5s;
	-ms-transition:$effect 0.5s;
	transition:$effect 0.5s;
}
@mixin overlay($index){
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $index;
}
@include font-import("bryant","../fonts/BryantBoldAlt.ttf");
@include font-import("chapparal","../fonts/ChaparralPro-Regular.otf");
@include font-import("bryantmed","../fonts/ufonts.com_bryant-medium.ttf");
$font1 : "bryant";
$font2 : "chapparal";
$font3 : "bryantmed";

*{
	margin: 0;
	padding: 0;
	@include all;
}
body{
	overflow-x: hidden;
}
.bg1{
	background: url(../img/bg1.jpg);
	-webkit-transform:scale(3);

	@include overlay(1);
}
.bg2{
	background: url(../img/bg2.png);
	@include overlay(2);
}
.bg3{
	background: url(../img/bg3.png);
	@include overlay(3);
}

.container *{
	z-index: +5;
}

/*<Rohan's code>*/
#menuOpenMain{
	height: 74px;
	width: 170px;
	border-radius: 60px;
	background-color: rgba(45, 39, 57, 0.4);
	position: absolute !important;
	left: 5%;
	top: 7%;
	z-index: 6;
	cursor: pointer;
}

#menuOpen{
	height: 74px;
	width: 74px;
	border-radius: 100%;
	background-color: #2D2739;
	position: relative;
}

.menuStick{
	height: 3px;
	width: 30px;
	border-radius: 3px;
	background-color: rgba(222, 52, 84, 0.4);
	position: relative;
	margin-bottom: 4px;
	left: 22px;
	top: 28px;
}

.menuStickSmall{
	height: 100%;
	width: 0px;
	background-color: #E54252;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#ss2{
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

#ss3{
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


#menuOpenMain:hover #ss1{
	width: 100%;
}

#menuOpenMain:hover #ss2{
	width: 68%;
}

#menuOpenMain:hover #ss3{
	width: 20%;
}


/* #E54252*/

#peiceHolder{
	position: absolute;
	height: 120px;
	width: 150px;
	height: 90px;
	right: 7%;
	top: 8%;	
}

.peice{
	height: 6px;
	width: 33px;
	height: 6px;
	background-color: rgba(255,255,255,0.4);
	position: relative;
	float: right;
	clear: right;
	margin-bottom: 7px;
	color: #fff;
	font-family: $font1;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 36px;
	text-align: center;
	transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-webkit-transition: all 0.15s;
}

.peice:hover{
	background-color: #fff;
}

.activePeice{
	height: 36px;
	width: 145px;
	background-color: #DD3154;
}

.activePeice:hover{
	background-color: #DD3154;
}

#holder{
	height: 96%;
	width: 100%;
	position: absolute;
	top: 3%;
	left: 0%;
}


#shadow1{
	position: absolute;
	height: 50%;
	width: 200%;
	left: -50%;
	top: 0%;
}

#shadow2{
	position: absolute;
	height: 50%;
	width: 200%;
	left: -50%;
	top: 50%;
	box-shadow: 0px -9px 16px rgba(10,10,10,0.3);
}


#main1, #main2{
	height: 95%;
	width: 45%;
	position: absolute;
	left: 27.5%;
	overflow: hidden;
}
#main1{
	top:5%;
}
#main2{
	top: 0%;
}

.page{
	height: 100%;
	width: 100%;
	position: relative;
}

.p1{
	background-color: transparent;
}
.p2{
	background-color: #2ecc81;
}
.p3{
	background-color: #22a7f0;
}
.p4{
	background-color: #A642D8;
}
.p5{
	background-color: #B3B33B;
}
/*</Rohan's Code>*/
